{% extends 'blog/base.html' %}
{% load static %}
{% block custom-header %}
<link rel="stylesheet" type="text/css" href="red.css">
{% endblock %}
{% block title %} | {{object.title}} {% endblock %}
{% block main %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{object.title}}</h1>
          <time>{{object.jpublish}}</time>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto text-justify">
        {{object.description}}
      </div>
    </div>
  </div>
</article> 
{% endblock %}
